@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root {

    --cor01: #D91828;
    --cor02: #A60303;
    --cor03: #400101;
    --cor04: #260101;
    --cor05: #0D0000;

    --fonte-titulo: 'Permanent Marker', cursive;
    ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: var(--cor05);
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}

header .container {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: var(--fonte-titulo);
    color: var(--cor01);
    font-size: 60px;
    padding: 20px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 30px;
    
}

header nav a:hover {
    color: white;
}



.imagem-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)100%), url('../img/st-capa.jpg');

    width: 100%;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    

}

.imagem-principal .descricao {

   margin-top: 10px;
   margin-bottom: 40px;
}

.titulo {
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
    padding: 20px;

}

.botao {
    background-color: #a603038c;
    border: none;
    color: white;
    padding: 10px;
    margin-right: 12px;
    font-size: 12px;
    cursor: pointer;
    transition: 1.5s ease all;


}



p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

.botao:hover {
    background-color: var(--cor02);
    color: black;
}

.botao i {
    margin-right: 7px;
}

.container {
    margin-left: 20px;
}
.imagem-principal .container {

    width: 60%;
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel {

    margin-top: 50px;
}


    
